.artCartContainer{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100%;
    background-color: aqua;
}

.contenedorImgCart{
    height: 100%;
    width: 40%;
    border: solid 1px black;
}

.contenedorImgCart img{
    height: 100%;
    width: 100%;
}

.contenedorDetalleCart{
    display: flex;
    flex-direction: column;
}