.favBase{
    display: flex;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    font-size: large;
}

.favAgregado{
    background-color: blueviolet;
}